/* src/app/otp/otp.component.css */
.otp {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}

.otp-inputs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px; /* Add margin-bottom to create space between inputs and button */
}

.otp-input {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 1.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
  margin-top: 20px; /* Add margin-top to create space between inputs and button */
}

button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}