<div class="modal" *ngIf="meeting">
  <div class="modal-content">
    <span class="close" (click)="onClose()">&times;</span>
    <h2>Edit Meeting</h2>
    <form (ngSubmit)="onSave()">
      <label for="startTime">Start Time:</label>
      <input type="datetime-local" id="startTime" [(ngModel)]="meeting.startTime" name="startTime" required>
      
      <label for="endTime">End Time:</label>
      <input type="datetime-local" id="endTime" [(ngModel)]="meeting.endTime" name="endTime" required>
      
      <label for="location">Location:</label>
      <input type="text" id="location" [(ngModel)]="meeting.location" name="location" required>
      
      <button type="submit" class="btn btn-success">Save</button>
    </form>
  </div>
</div>