<div class="sidebar">
  <ul>
    <li><a routerLink="/home/attendance" routerLinkActive="active">Attendance</a></li>
    <li><a routerLink="/home/vacations" routerLinkActive="active">Vacations</a></li>
    <li><a routerLink="/home/manager" routerLinkActive="active">Manager</a></li>
    <li><a routerLink="/home/meetings" routerLinkActive="active">Meetings</a></li>
    <li><a routerLink="/home/roles" routerLinkActive="active">Roles</a></li> <!-- Updated line -->
    <li><a routerLink="/home/users" routerLinkActive="active">Users</a></li>

  </ul>
  <button (click)="logout()" class="btn btn-danger mt-3">Logout</button>
</div>