<!-- sidebar.component.html -->
<div class="sidebar">
  <ul>
    <li *ngIf="hasPermission('attendance')">
      <a routerLink="/home/attendance" routerLinkActive="active">Attendance</a>
    </li>
    <li *ngIf="hasPermission('requests')">
      <a routerLink="/home/vacations" routerLinkActive="active">Vacations</a>
    </li>
    <li *ngIf="hasPermission('managers')">
      <a routerLink="/home/manager" routerLinkActive="active">Manager</a>
    </li>
    <li>
      <a routerLink="/home/meetings" routerLinkActive="active">Meetings</a>
    </li>
    <li *ngIf="hasPermission('roles')">
      <a routerLink="/home/roles" routerLinkActive="active">Roles</a>
    </li>
    <li *ngIf="hasPermission('users')">
      <a routerLink="/home/users" routerLinkActive="active">Users</a>
    </li>
  </ul>
  <button (click)="logout()" class="btn btn-danger mt-3">Logout</button>
</div>